body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1226px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:726px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:68px;
  width:53px;
  height:726px;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:10px;
  width:1197px;
  height:60px;
}
#u384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:41px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:20px;
  width:43px;
  height:41px;
}
#u385_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:32px;
  width:145px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
}
#u386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:44px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:21px;
  width:2px;
  height:41px;
}
#u387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:32px;
  width:91px;
  height:21px;
  font-size:18px;
  color:#CCCCCC;
}
#u388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:27px;
  width:186px;
  height:30px;
}
#u389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:27px;
  width:30px;
  height:30px;
  font-size:12px;
}
#u390_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:1123px;
  top:27px;
  width:30px;
  height:30px;
  font-size:12px;
}
#u391_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:27px;
  width:30px;
  height:30px;
  font-size:12px;
}
#u392_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:27px;
  width:30px;
  height:30px;
}
#u393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:34px;
  width:43px;
  height:17px;
  color:#CCCCCC;
}
#u394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:8px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:38px;
  width:18px;
  height:8px;
}
#u395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:100px;
  width:33px;
  height:31px;
}
#u396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:153px;
  width:33px;
  height:31px;
}
#u397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:206px;
  width:33px;
  height:31px;
}
#u398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:260px;
  width:33px;
  height:31px;
}
#u399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:366px;
  width:33px;
  height:31px;
}
#u400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:419px;
  width:33px;
  height:31px;
}
#u401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:472px;
  width:33px;
  height:31px;
}
#u402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:526px;
  width:33px;
  height:31px;
}
#u403_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:579px;
  width:33px;
  height:31px;
}
#u404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:632px;
  width:33px;
  height:31px;
}
#u405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:313px;
  width:33px;
  height:31px;
}
#u406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u407 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:153px;
  width:160px;
  height:160px;
}
#u407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:245px;
  width:81px;
  height:23px;
  font-size:20px;
  color:#1E1E1E;
}
#u408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:119px;
  width:101px;
  height:23px;
  font-size:20px;
}
#u409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u410_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:32px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:114px;
  width:3px;
  height:29px;
}
#u410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:172px;
  width:60px;
  height:60px;
}
#u411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:278px;
  width:75px;
  height:17px;
}
#u412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:599px;
  width:161px;
  height:23px;
  font-size:20px;
}
#u413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:32px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:594px;
  width:3px;
  height:29px;
}
#u414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u416 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:644px;
  width:160px;
  height:160px;
}
#u416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:748px;
  width:121px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:672px;
  width:62px;
  height:58px;
  font-size:20px;
}
#u418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  word-wrap:break-word;
}
#u419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u419 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:397px;
  width:160px;
  height:160px;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:489px;
  width:112px;
  height:23px;
  font-size:20px;
  color:#1E1E1E;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:363px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u422_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:32px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:358px;
  width:3px;
  height:29px;
}
#u422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:416px;
  width:60px;
  height:60px;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:522px;
  width:75px;
  height:17px;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u426 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:644px;
  width:160px;
  height:160px;
}
#u426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:748px;
  width:121px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:672px;
  width:62px;
  height:58px;
  font-size:20px;
}
#u428_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  word-wrap:break-word;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(44, 84, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u430 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:644px;
  width:160px;
  height:160px;
}
#u430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:748px;
  width:81px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:672px;
  width:62px;
  height:58px;
  font-size:20px;
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  word-wrap:break-word;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u434 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:644px;
  width:160px;
  height:160px;
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:748px;
  width:121px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:672px;
  width:62px;
  height:58px;
  font-size:20px;
}
#u436_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  word-wrap:break-word;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u438 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:825px;
  width:160px;
  height:160px;
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:929px;
  width:121px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:853px;
  width:62px;
  height:58px;
  font-size:20px;
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  word-wrap:break-word;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u442 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:825px;
  width:160px;
  height:160px;
}
#u442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:929px;
  width:101px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:853px;
  width:62px;
  height:58px;
  font-size:20px;
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  word-wrap:break-word;
}
#u445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:915px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:70px;
  width:316px;
  height:915px;
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:73px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:92px;
  width:306px;
  height:73px;
}
#u446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:44px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:105px;
  width:47px;
  height:44px;
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:43px;
  word-wrap:break-word;
}
#u448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:106px;
  width:73px;
  height:21px;
  font-size:18px;
}
#u448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:132px;
  width:127px;
  height:17px;
}
#u449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:194px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:36px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:194px;
  width:48px;
  height:20px;
  color:#FFFFFF;
}
#u451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:235px;
  width:308px;
  height:71px;
}
#u452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:245px;
  width:34px;
  height:32px;
}
#u453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:247px;
  width:161px;
  height:19px;
  font-size:16px;
}
#u454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:276px;
  width:249px;
  height:17px;
}
#u455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u456 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:316px;
  width:308px;
  height:71px;
}
#u456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:357px;
  width:249px;
  height:17px;
}
#u457_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:325px;
  width:34px;
  height:32px;
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:327px;
  width:170px;
  height:19px;
  font-size:16px;
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u460 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:397px;
  width:160px;
  height:160px;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:489px;
  width:112px;
  height:23px;
  font-size:20px;
  color:#1E1E1E;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:416px;
  width:60px;
  height:60px;
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:522px;
  width:75px;
  height:17px;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u464 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:397px;
  width:160px;
  height:160px;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:489px;
  width:112px;
  height:23px;
  font-size:20px;
  color:#1E1E1E;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:416px;
  width:60px;
  height:60px;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:522px;
  width:75px;
  height:17px;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u468 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:153px;
  width:160px;
  height:160px;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:245px;
  width:121px;
  height:23px;
  font-size:20px;
  color:#1E1E1E;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:172px;
  width:60px;
  height:60px;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:278px;
  width:75px;
  height:17px;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u472 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:153px;
  width:160px;
  height:160px;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:245px;
  width:121px;
  height:23px;
  font-size:20px;
  color:#1E1E1E;
}
#u473_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:172px;
  width:60px;
  height:60px;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:278px;
  width:71px;
  height:17px;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:403px;
  width:40px;
  height:23px;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:403px;
  width:40px;
  height:23px;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:403px;
  width:40px;
  height:23px;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:161px;
  width:40px;
  height:23px;
  color:#FFFFFF;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(44, 84, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u481 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:825px;
  width:160px;
  height:160px;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:929px;
  width:81px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:853px;
  width:62px;
  height:58px;
  font-size:20px;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  word-wrap:break-word;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u485 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:825px;
  width:160px;
  height:160px;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:929px;
  width:81px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:853px;
  width:62px;
  height:58px;
  font-size:20px;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  word-wrap:break-word;
}
