body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1226px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:726px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:68px;
  width:53px;
  height:726px;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1197px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:10px;
  width:1197px;
  height:60px;
}
#u422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:41px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:20px;
  width:43px;
  height:41px;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:39px;
  word-wrap:break-word;
}
#u424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:32px;
  width:145px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:44px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:21px;
  width:2px;
  height:41px;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:32px;
  width:91px;
  height:21px;
  font-size:18px;
  color:#CCCCCC;
}
#u426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:27px;
  width:186px;
  height:30px;
}
#u427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:27px;
  width:30px;
  height:30px;
  font-size:12px;
}
#u428_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:1123px;
  top:27px;
  width:30px;
  height:30px;
  font-size:12px;
}
#u429_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:1172px;
  top:27px;
  width:30px;
  height:30px;
  font-size:12px;
}
#u430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:27px;
  width:30px;
  height:30px;
}
#u431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:34px;
  width:43px;
  height:17px;
  color:#CCCCCC;
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:8px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:38px;
  width:18px;
  height:8px;
}
#u433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:100px;
  width:33px;
  height:31px;
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:153px;
  width:33px;
  height:31px;
}
#u435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:206px;
  width:33px;
  height:31px;
}
#u436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:260px;
  width:33px;
  height:31px;
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:366px;
  width:33px;
  height:31px;
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:419px;
  width:33px;
  height:31px;
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:472px;
  width:33px;
  height:31px;
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:526px;
  width:33px;
  height:31px;
}
#u441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:579px;
  width:33px;
  height:31px;
}
#u442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:632px;
  width:33px;
  height:31px;
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:313px;
  width:33px;
  height:31px;
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u445 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:153px;
  width:160px;
  height:160px;
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:245px;
  width:81px;
  height:23px;
  font-size:20px;
  color:#1E1E1E;
}
#u446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:119px;
  width:101px;
  height:23px;
  font-size:20px;
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u448_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:32px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:114px;
  width:3px;
  height:29px;
}
#u448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:172px;
  width:60px;
  height:60px;
}
#u449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:278px;
  width:75px;
  height:17px;
}
#u450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:599px;
  width:161px;
  height:23px;
  font-size:20px;
}
#u451_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u452_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:32px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:594px;
  width:3px;
  height:29px;
}
#u452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u454 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:644px;
  width:160px;
  height:160px;
}
#u454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:748px;
  width:121px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:672px;
  width:62px;
  height:58px;
  font-size:20px;
}
#u456_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  word-wrap:break-word;
}
#u457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u457 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:397px;
  width:160px;
  height:160px;
}
#u457_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:489px;
  width:112px;
  height:23px;
  font-size:20px;
  color:#1E1E1E;
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:363px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:32px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:358px;
  width:3px;
  height:29px;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:416px;
  width:60px;
  height:60px;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:522px;
  width:75px;
  height:17px;
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u464 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:644px;
  width:160px;
  height:160px;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:748px;
  width:121px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:672px;
  width:62px;
  height:58px;
  font-size:20px;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  word-wrap:break-word;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(44, 84, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u468 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:644px;
  width:160px;
  height:160px;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:748px;
  width:81px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:672px;
  width:62px;
  height:58px;
  font-size:20px;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  word-wrap:break-word;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u472 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:644px;
  width:160px;
  height:160px;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:748px;
  width:121px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u473_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:672px;
  width:62px;
  height:58px;
  font-size:20px;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  word-wrap:break-word;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u476 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:825px;
  width:160px;
  height:160px;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:929px;
  width:121px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:853px;
  width:62px;
  height:58px;
  font-size:20px;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  word-wrap:break-word;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u480 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:825px;
  width:160px;
  height:160px;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:929px;
  width:101px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:853px;
  width:62px;
  height:58px;
  font-size:20px;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  word-wrap:break-word;
}
#u483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:915px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:70px;
  width:316px;
  height:915px;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:73px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:92px;
  width:306px;
  height:73px;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:44px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:105px;
  width:47px;
  height:44px;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:43px;
  word-wrap:break-word;
}
#u486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:106px;
  width:73px;
  height:21px;
  font-size:18px;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:132px;
  width:127px;
  height:17px;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:194px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:36px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:194px;
  width:48px;
  height:20px;
  color:#FFFFFF;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:235px;
  width:308px;
  height:71px;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:245px;
  width:34px;
  height:32px;
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:247px;
  width:161px;
  height:19px;
  font-size:16px;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:276px;
  width:249px;
  height:17px;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u494 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:316px;
  width:308px;
  height:71px;
}
#u494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:357px;
  width:249px;
  height:17px;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:325px;
  width:34px;
  height:32px;
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  word-wrap:break-word;
}
#u497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:327px;
  width:170px;
  height:19px;
  font-size:16px;
}
#u497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u498 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:397px;
  width:160px;
  height:160px;
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:489px;
  width:112px;
  height:23px;
  font-size:20px;
  color:#1E1E1E;
}
#u499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:416px;
  width:60px;
  height:60px;
}
#u500_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:522px;
  width:75px;
  height:17px;
}
#u501_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u502 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:397px;
  width:160px;
  height:160px;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:489px;
  width:112px;
  height:23px;
  font-size:20px;
  color:#1E1E1E;
}
#u503_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:416px;
  width:60px;
  height:60px;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:522px;
  width:75px;
  height:17px;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u506 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:153px;
  width:160px;
  height:160px;
}
#u506_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:245px;
  width:121px;
  height:23px;
  font-size:20px;
  color:#1E1E1E;
}
#u507_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:172px;
  width:60px;
  height:60px;
}
#u508_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:278px;
  width:75px;
  height:17px;
}
#u509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u510 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:153px;
  width:160px;
  height:160px;
}
#u510_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#1E1E1E;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:245px;
  width:121px;
  height:23px;
  font-size:20px;
  color:#1E1E1E;
}
#u511_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:172px;
  width:60px;
  height:60px;
}
#u512_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:278px;
  width:71px;
  height:17px;
}
#u513_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:403px;
  width:40px;
  height:23px;
}
#u514_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:403px;
  width:40px;
  height:23px;
}
#u515_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:403px;
  width:40px;
  height:23px;
}
#u516_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:161px;
  width:40px;
  height:23px;
  color:#FFFFFF;
}
#u517_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(44, 84, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u519 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:825px;
  width:160px;
  height:160px;
}
#u519_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:929px;
  width:81px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u520_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:853px;
  width:62px;
  height:58px;
  font-size:20px;
}
#u521_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  word-wrap:break-word;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.666666666666667);
}
#u523 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:825px;
  width:160px;
  height:160px;
}
#u523_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:929px;
  width:81px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u524_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:853px;
  width:62px;
  height:58px;
  font-size:20px;
}
#u525_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  word-wrap:break-word;
}
