body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:841px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:455px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:29px;
  width:800px;
  height:455px;
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:96px;
  width:688px;
  height:33px;
  text-align:left;
}
#u643_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:684px;
  word-wrap:break-word;
}
#u644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:291px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:128px;
  width:688px;
  height:291px;
  text-align:left;
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:166px;
  width:640px;
  height:180px;
}
#u646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
  text-align:left;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:100px;
  height:36px;
  text-align:left;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:250px;
  height:36px;
  text-align:left;
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:90px;
  height:36px;
  text-align:left;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:0px;
  width:150px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:50px;
  height:36px;
  text-align:left;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:36px;
  width:100px;
  height:36px;
  text-align:left;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:36px;
  width:250px;
  height:36px;
  text-align:left;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:36px;
  width:90px;
  height:36px;
  text-align:left;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:36px;
  width:150px;
  height:36px;
  color:#009999;
  text-align:left;
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:50px;
  height:36px;
  text-align:left;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:72px;
  width:100px;
  height:36px;
  text-align:left;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:72px;
  width:250px;
  height:36px;
  text-align:left;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:72px;
  width:90px;
  height:36px;
  text-align:left;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:72px;
  width:150px;
  height:36px;
  color:#009999;
  text-align:left;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:50px;
  height:36px;
  text-align:left;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:108px;
  width:100px;
  height:36px;
  text-align:left;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:108px;
  width:250px;
  height:36px;
  text-align:left;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:108px;
  width:90px;
  height:36px;
  text-align:left;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:108px;
  width:150px;
  height:36px;
  color:#009999;
  text-align:left;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:50px;
  height:36px;
  text-align:left;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:144px;
  width:100px;
  height:36px;
  text-align:left;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:36px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:144px;
  width:250px;
  height:36px;
  text-align:left;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:144px;
  width:90px;
  height:36px;
  text-align:left;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:144px;
  width:150px;
  height:36px;
  color:#009999;
  text-align:left;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:364px;
  width:70px;
  height:30px;
  color:#FFFFFF;
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:364px;
  width:70px;
  height:30px;
}
#u672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:104px;
  width:11px;
  height:17px;
  text-align:center;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:137px;
  width:267px;
  height:17px;
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:208px;
  width:123px;
  height:27px;
  color:#CCCCCC;
  text-align:left;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:212px;
  width:20px;
  height:17px;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:214px;
  width:73px;
  height:16px;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:244px;
  width:123px;
  height:27px;
  color:#999999;
  text-align:left;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
#u679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:731px;
  top:248px;
  width:20px;
  height:17px;
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:250px;
  width:100px;
  height:16px;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:279px;
  width:123px;
  height:27px;
  color:#999999;
  text-align:left;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:285px;
  width:100px;
  height:16px;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:315px;
  width:123px;
  height:27px;
  color:#999999;
  text-align:left;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:321px;
  width:100px;
  height:16px;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
