body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:570px;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:1100px;
  height:570px;
}
#u1356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:69px;
  width:98px;
  height:25px;
}
#u1357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:72px;
  width:23px;
  height:19px;
  font-size:10px;
}
#u1358_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  word-wrap:break-word;
}
#u1359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:73px;
  width:29px;
  height:17px;
}
#u1359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:69px;
  width:98px;
  height:25px;
}
#u1360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:72px;
  width:23px;
  height:19px;
  font-size:10px;
}
#u1361_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  word-wrap:break-word;
}
#u1362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:73px;
  width:57px;
  height:17px;
}
#u1362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
