body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:841px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:455px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:29px;
  width:800px;
  height:455px;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:96px;
  width:688px;
  height:33px;
  text-align:left;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:684px;
  word-wrap:break-word;
}
#u962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:291px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:128px;
  width:688px;
  height:291px;
  text-align:left;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:166px;
  width:628px;
  height:180px;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
  text-align:left;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:100px;
  height:36px;
  text-align:left;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:100px;
  height:36px;
  text-align:left;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:150px;
  height:36px;
  text-align:left;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:128px;
  height:36px;
  text-align:left;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:0px;
  width:100px;
  height:36px;
  text-align:left;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:50px;
  height:36px;
  text-align:left;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:36px;
  width:100px;
  height:36px;
  text-align:left;
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:36px;
  width:100px;
  height:36px;
  text-align:left;
}
#u972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:36px;
  width:150px;
  height:36px;
  text-align:left;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:36px;
  width:128px;
  height:36px;
  text-align:left;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:36px;
  width:100px;
  height:36px;
  text-align:left;
}
#u975_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:50px;
  height:36px;
  text-align:left;
}
#u976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:72px;
  width:100px;
  height:36px;
  text-align:left;
}
#u977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:72px;
  width:100px;
  height:36px;
  text-align:left;
}
#u978_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:72px;
  width:150px;
  height:36px;
  text-align:left;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:72px;
  width:128px;
  height:36px;
  text-align:left;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:72px;
  width:100px;
  height:36px;
  text-align:left;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:50px;
  height:36px;
  text-align:left;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:108px;
  width:100px;
  height:36px;
  text-align:left;
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:108px;
  width:100px;
  height:36px;
  text-align:left;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:108px;
  width:150px;
  height:36px;
  text-align:left;
}
#u985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:108px;
  width:128px;
  height:36px;
  text-align:left;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:108px;
  width:100px;
  height:36px;
  text-align:left;
}
#u987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:50px;
  height:36px;
  text-align:left;
}
#u988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:144px;
  width:100px;
  height:36px;
  text-align:left;
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:144px;
  width:100px;
  height:36px;
  text-align:left;
}
#u990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:36px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:144px;
  width:150px;
  height:36px;
  text-align:left;
}
#u991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:144px;
  width:128px;
  height:36px;
  text-align:left;
}
#u992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:144px;
  width:100px;
  height:36px;
  text-align:left;
}
#u993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:364px;
  width:70px;
  height:30px;
  color:#FFFFFF;
}
#u994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:364px;
  width:70px;
  height:30px;
}
#u995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:104px;
  width:11px;
  height:17px;
  text-align:center;
}
#u996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:139px;
  width:135px;
  height:17px;
}
#u997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
