body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:436px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:170px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1745 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:387px;
  width:400px;
  height:170px;
}
#u1745_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:398px;
}
#u1746 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:10px;
  width:400px;
  height:398px;
}
#u1746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:631px;
}
#u1747 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:474px;
  width:400px;
  height:631px;
}
#u1747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:57px;
}
#u1748 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:415px;
  width:365px;
  height:57px;
}
#u1748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1749 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:429px;
  width:30px;
  height:30px;
}
#u1749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1750 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:436px;
  width:85px;
  height:17px;
}
#u1750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u1751 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:435px;
  width:10px;
  height:18px;
}
#u1751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
