body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:713px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:681px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5670 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:14px;
  width:375px;
  height:681px;
}
#u5670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5671 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:28px;
  width:1px;
  height:16px;
}
#u5671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u5672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u5672 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:14px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u5672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5673 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:48px;
  width:150px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:146px;
  word-wrap:break-word;
}
#u5674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u5674 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:14px;
  width:375px;
  height:20px;
}
#u5674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u5675 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:46px;
  width:12px;
  height:20px;
}
#u5675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u5676 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:40px;
  width:34px;
  height:34px;
  font-size:10px;
}
#u5676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u5677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:607px;
}
#u5677 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:79px;
  width:373px;
  height:607px;
}
#u5677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5678 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:149px;
  width:300px;
  height:170px;
}
#u5678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:55px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5679 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:160px;
  width:353px;
  height:55px;
}
#u5679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:349px;
  word-wrap:break-word;
}
#u5680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2C5479;
}
#u5680 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:171px;
  width:278px;
  height:50px;
  color:#2C5479;
}
#u5680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u5681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:55px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5681 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:254px;
  width:353px;
  height:55px;
}
#u5681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:349px;
  word-wrap:break-word;
}
#u5682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2C5479;
}
#u5682 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:266px;
  width:278px;
  height:66px;
  color:#2C5479;
}
#u5682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u5683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:55px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5683 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:346px;
  width:353px;
  height:55px;
}
#u5683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:349px;
  word-wrap:break-word;
}
#u5684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2C5479;
}
#u5684 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:360px;
  width:278px;
  height:66px;
  color:#2C5479;
}
#u5684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u5685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:57px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5685 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:448px;
  width:353px;
  height:57px;
}
#u5685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:349px;
  word-wrap:break-word;
}
#u5686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#2C5479;
}
#u5686 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:464px;
  width:278px;
  height:99px;
  color:#2C5479;
}
#u5686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u5687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:29px;
  background:inherit;
  background-color:rgba(251, 177, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5687 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:79px;
  width:375px;
  height:29px;
}
#u5687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5688 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:85px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u5688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5689 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:106px;
  width:253px;
  height:17px;
  color:#FF0000;
}
#u5689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u5690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:57px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5690 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:551px;
  width:353px;
  height:57px;
}
#u5690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:349px;
  word-wrap:break-word;
}
