body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:423px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:38px;
  width:800px;
  height:423px;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:85px;
  width:700px;
  height:33px;
  text-align:left;
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:696px;
  word-wrap:break-word;
}
#u680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:291px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:117px;
  width:700px;
  height:291px;
  text-align:left;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:155px;
  width:670px;
  height:180px;
}
#u682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
  text-align:left;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:100px;
  height:36px;
  text-align:left;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:170px;
  height:36px;
  text-align:left;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:0px;
  width:90px;
  height:36px;
  text-align:left;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:170px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:0px;
  width:100px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:40px;
  height:36px;
  text-align:left;
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:36px;
  width:100px;
  height:36px;
  text-align:left;
}
#u689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:36px;
  width:170px;
  height:36px;
  text-align:left;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:36px;
  width:90px;
  height:36px;
  text-align:left;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:36px;
  width:170px;
  height:36px;
  color:#009999;
  text-align:left;
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:36px;
  width:100px;
  height:36px;
  color:#009999;
  text-align:left;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:40px;
  height:36px;
  text-align:left;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:72px;
  width:100px;
  height:36px;
  text-align:left;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:72px;
  width:170px;
  height:36px;
  text-align:left;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:72px;
  width:90px;
  height:36px;
  text-align:left;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:72px;
  width:170px;
  height:36px;
  color:#009999;
  text-align:left;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:72px;
  width:100px;
  height:36px;
  color:#009999;
  text-align:left;
}
#u699_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:40px;
  height:36px;
  text-align:left;
}
#u700_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:108px;
  width:100px;
  height:36px;
  text-align:left;
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:108px;
  width:170px;
  height:36px;
  text-align:left;
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:108px;
  width:90px;
  height:36px;
  text-align:left;
}
#u703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:108px;
  width:170px;
  height:36px;
  color:#009999;
  text-align:left;
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:108px;
  width:100px;
  height:36px;
  color:#009999;
  text-align:left;
}
#u705_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:36px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:40px;
  height:36px;
  text-align:left;
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:144px;
  width:100px;
  height:36px;
  text-align:left;
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:144px;
  width:170px;
  height:36px;
  text-align:left;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:144px;
  width:90px;
  height:36px;
  text-align:left;
}
#u709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:36px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:144px;
  width:170px;
  height:36px;
  color:#009999;
  text-align:left;
}
#u710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:144px;
  width:100px;
  height:36px;
  color:#009999;
  text-align:left;
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:353px;
  width:70px;
  height:30px;
  color:#FFFFFF;
}
#u712_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:353px;
  width:70px;
  height:30px;
}
#u713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:93px;
  width:11px;
  height:17px;
  text-align:center;
}
#u714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:126px;
  width:337px;
  height:17px;
}
#u715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
