body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:413px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3962 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:73px;
  width:375px;
  height:667px;
}
#u3962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3963 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:87px;
  width:1px;
  height:16px;
}
#u3963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u3964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u3964 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:73px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u3964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:107px;
  width:150px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3965_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:146px;
  word-wrap:break-word;
}
#u3966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:73px;
  width:375px;
  height:20px;
}
#u3966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:136px;
  width:375px;
  height:1px;
}
#u3967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:105px;
  width:12px;
  height:20px;
}
#u3968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:99px;
  width:34px;
  height:34px;
  font-size:10px;
}
#u3969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u3970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:603px;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:136px;
  width:373px;
  height:603px;
}
#u3970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:183px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:546px;
  width:300px;
  height:183px;
}
#u3971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:568px;
  width:40px;
  height:38px;
}
#u3973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u3974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:611px;
  width:29px;
  height:17px;
  text-align:center;
}
#u3974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:568px;
  width:40px;
  height:38px;
}
#u3976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u3977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:611px;
  width:29px;
  height:17px;
  text-align:center;
}
#u3977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:568px;
  width:40px;
  height:38px;
}
#u3979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u3980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:611px;
  width:29px;
  height:17px;
  text-align:center;
}
#u3980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:568px;
  width:40px;
  height:38px;
}
#u3982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u3983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:611px;
  width:43px;
  height:17px;
  text-align:center;
}
#u3983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:647px;
  width:40px;
  height:38px;
}
#u3985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u3986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:690px;
  width:29px;
  height:17px;
  text-align:center;
}
#u3986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:647px;
  width:40px;
  height:38px;
}
#u3988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u3989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:690px;
  width:43px;
  height:17px;
  text-align:center;
}
#u3989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:647px;
  width:40px;
  height:38px;
}
#u3991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u3992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:690px;
  width:29px;
  height:17px;
  text-align:center;
}
#u3992_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:38px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:647px;
  width:40px;
  height:38px;
}
#u3994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u3995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:690px;
  width:29px;
  height:17px;
  text-align:center;
}
#u3995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
