body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1066px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:617px;
}
#u3045 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:20px;
  width:350px;
  height:617px;
}
#u3045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3046 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:30px;
  width:85px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:65px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3047 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:504px;
  width:336px;
  height:65px;
  font-size:14px;
  text-align:left;
}
#u3047_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:332px;
  word-wrap:break-word;
}
#u3048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3048 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:529px;
  width:275px;
  height:33px;
}
#u3048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u3049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:632px;
}
#u3049 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:20px;
  width:350px;
  height:632px;
}
#u3049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3050 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:578px;
  width:275px;
  height:33px;
}
#u3050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  word-wrap:break-word;
}
#u3051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:65px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u3051 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:483px;
  width:336px;
  height:65px;
  font-size:14px;
  text-align:left;
}
#u3051_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:332px;
  word-wrap:break-word;
}
#u3052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:68px;
  height:19px;
}
#u3052p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:6px;
}
#u3052p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:6px;
}
#u3052p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:2px;
}
#u3052p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u3052p002 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u3052p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u3052 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:594px;
  width:59px;
  height:1px;
}
#u3052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3053_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:69px;
  height:19px;
}
#u3053p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:64px;
  height:6px;
}
#u3053p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:6px;
}
#u3053p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:20px;
}
#u3053p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u3053p002 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:0px;
  width:4px;
  height:2px;
}
#u3053p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u3053 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:548px;
  width:59px;
  height:1px;
}
#u3053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
